{% extends "base.html" %}
{% load staticfiles %}
{% block mystyle %}
  <style>
    .chat{
      height:30px;
      width:30px;
      background: #ccc;
      position:absolute;
      left:-7px;
      top:7px;
      transform: rotate(45deg);
    }
    .cover{
        background:url("/media/{{det.cover_pic}}");
        background-size:100% 100%;
    }
  </style>
{% endblock %}
{% block mycode %}
<div class="row cover">
  <div class="col-md-12 text-center my-5 text-light" style="background:rgba(0,0,0,0.5)">
      {% if det.profile_pic %}
      <img src="/media/{{det.profile_pic}}" height="100" width="100" style='border-radius:50%;'>
      
      {% else %}
      <img src="/media/no_image.png" alt="" height="100" width="100" style='border-radius:50%;'>
      {% endif %}
    <!-- <img src="/media/{{det.profile_pic}}" alt="No Image" height="100" width="100" style='border-radius:50%;' /> -->
    
    <h1>{{det.name}}</h1>
    <small>Active on : {{active}}</small><br/>
    <hr />
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-12 text-left">
        <div class="bg-secondary p-3">
        <label>Send Message</label>
        {% csrf_token %}
        <textarea class="form-control" placeholder="Enter Your Message Here" id='msg'></textarea>
        <input type="button" class="btn btn-success mt-3" id='msgbtn' value="Send" />
        </div>
        <ul class="list-group aaa">
          
          <li class="list-group-item text-right">
              <small>Name</small><br/>
              MSG1<br/>
              <small>Received @ : Time</small>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
  <script>
  $(function(){
    $('#msgbtn').click(function(){
      var a = $('#msg').val();
      var sendto = "{{ det.user.id}}";
      var sndr = "{{user}}";
      var b = $("input[name*='csrfmiddlewaretoken']").val();
      $.ajax({
        url: '{% url "project:ajax_message" %}',
        type: 'post',
        data: {rcvr:sendto,message:a, csrfmiddlewaretoken:b},
        success: function(data){
          $('#msg').val(' ');
          getMsg();
        }
      })
    });
  });
  function getNameFromId(id){
    var b = $("input[name*='csrfmiddlewaretoken']").val();
    var ss = '';
    $.ajax({
      url: '{% url "project:ajax_fun" %}',
      type: 'POST',
      async: false,
      data: {usernamefromid:id, csrfmiddlewaretoken:b},
      success: function(data){
        ss = data;
      }
    });
    
    return ss;
    
  }
  function getMsg(){
    var sendto = "{{ det.user.id }}";
    var sndr = "{{user.id}}";
    var b = $("input[name*='csrfmiddlewaretoken']").val();
    var alignment = "";
    $.ajax({
      url : '{% url "project:show_message" %}',
      type: 'POST',
      data: { sndr:sndr, rcvr:sendto ,csrfmiddlewaretoken:b},
      success: function(data){
        var a = '';
        for(n in data){
          if(sndr==data[n].fields.sender){
            alignment = "text-left";
          }else{
            alignment = "text-right bg-light";
          }
          a += "<li class='list-group-item "+alignment+"'><small><img src='/media/"+getNameFromId(data[n].fields.sender).pic+"' class='rounded-circle' height='50' width='50'><br/><strong>"+getNameFromId(data[n].fields.sender).name+"</strong></small><br/>";
          a += data[n].fields.message+"<br/><small class='text-muted'>"+data[n].fields.created_at+"</small></li>";
        }
        $('.aaa').html(a);
      }
    });
  }
  setInterval(getMsg, 5000);
  getMsg();
  </script>
{% endblock %}
